.hourlyDiv {
  border-left: 1px solid var(--color-blue);
}
.hourlyForc {
  margin-top: 5px;
  margin-bottom: 12px;
  margin-left: 5px;
  width: 100%;
  display: flex;
}
.hour {
  width: 10%;
}

.temp {
  font-size: 1rem;
  margin-right: 20px;
}

.weather {
}
.loading {
  margin: 100px;
}
